<a href="https://colab.research.google.com/github/ankitstar01/ml-learning/blob/master/keyPoint_distance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import math
import time
import pandas as pd

In [0]:
cd=0
ld=0
def get_distance(p1,p2):
    x=p2[0]-p1[0]
    y=p2[1]-p1[1]
    cd=math.sqrt(x*x+y*y)
    return cd

In [0]:
get_distance((1,1),(5,4))

5.0

In [0]:
l1=[(2,1),(4,5),(12,-3),(14,-5),(11,33),(62,45),(1,-31),(61,-52),(2,23),(4,54),(12,-20),(14,-11),(12,33),(34,51),(21,-33),(42,-223)] # sample format of data to be passed list of tuples of tuples
l2=[(2,3),(3,4),(2,4),(3,4),(1,3),(2,4),(3,4),(1,4)]
len(t)

16

In [0]:
q=[]
def get_allDistances(t):
    n = len(t)
    e=0
    distances = [[0]*n]*n
    t1=time.time()
    distances=np.array(distances)
    for i in range(n):
        for j in range(n):
            q.append(get_distance(t[i],t[j]))
            e=e+1
            distances[i][j]=get_distance(t[i],t[j])
    t2=time.time()
    print('total time taken {}sec:'.format(t2-t1))
    return distances

In [0]:
type(get_allDistances(t1))

total time taken 0.0001690387725830078sec:

numpy.ndarray

In [0]:
t=l1
n=len(t)
d=get_allDistances(t)
d

total time taken 0.0003960132598876953sec:

array([[  0,   4,  10,  13,  33,  74,  32,  79,  22,  53,  23,  16,  33,
         59,  38, 227],
       [  4,   0,  11,  14,  28,  70,  36,  80,  18,  49,  26,  18,  29,
         54,  41, 231],
       [ 10,  11,   0,   2,  36,  69,  30,  69,  27,  57,  17,   8,  36,
         58,  31, 222],
       [ 13,  14,   2,   0,  38,  69,  29,  66,  30,  59,  15,   6,  38,
         59,  28, 219],
       [ 33,  28,  36,  38,   0,  52,  64,  98,  13,  22,  53,  44,   1,
         29,  66, 257],
       [ 74,  70,  69,  69,  52,   0,  97,  97,  63,  58,  82,  73,  51,
         28,  88, 268],
       [ 32,  36,  30,  29,  64,  97,   0,  63,  54,  85,  15,  23,  64,
         88,  20, 196],
       [ 79,  80,  69,  66,  98,  97,  63,   0,  95, 120,  58,  62,  98,
        106,  44, 172],
       [ 22,  18,  27,  30,  13,  63,  54,  95,   0,  31,  44,  36,  14,
         42,  59, 249],
       [ 53,  49,  57,  59,  22,  58,  85, 120,  31,   0,  74,  65,  22,
         30,  88, 279],
       [ 23,  26,  17,  15,  53,  82,  15,  58,  44,  74,   0,   9,  53,
         74,  15, 205],
       [ 16,  18,   8,   6,  44,  73,  23,  62,  36,  65,   9,   0,  44,
         65,  23, 213],
       [ 33,  29,  36,  38,   1,  51,  64,  98,  14,  22,  53,  44,   0,
         28,  66, 257],
       [ 59,  54,  58,  59,  29,  28,  88, 106,  42,  30,  74,  65,  28,
          0,  85, 274],
       [ 38,  41,  31,  28,  66,  88,  20,  44,  59,  88,  15,  23,  66,
         85,   0, 191],
       [227, 231, 222, 219, 257, 268, 196, 172, 249, 279, 205, 213, 257,
        274, 191,   0]])

In [0]:
list=['k{}'.format(i) for i in range(n)]
list

['k0',
 'k1',
 'k2',
 'k3',
 'k4',
 'k5',
 'k6',
 'k7',
 'k8',
 'k9',
 'k10',
 'k11',
 'k12',
 'k13',
 'k14',
 'k15']

In [0]:
df=pd.DataFrame(d,columns=list,index=list) #data frame conversion
df

      k0   k1   k2   k3   k4   k5   k6  ...   k9  k10  k11  k12  k13  k14  k15
k0     0    4   10   13   33   74   32  ...   53   23   16   33   59   38  227
k1     4    0   11   14   28   70   36  ...   49   26   18   29   54   41  231
k2    10   11    0    2   36   69   30  ...   57   17    8   36   58   31  222
k3    13   14    2    0   38   69   29  ...   59   15    6   38   59   28  219
k4    33   28   36   38    0   52   64  ...   22   53   44    1   29   66  257
k5    74   70   69   69   52    0   97  ...   58   82   73   51   28   88  268
k6    32   36   30   29   64   97    0  ...   85   15   23   64   88   20  196
k7    79   80   69   66   98   97   63  ...  120   58   62   98  106   44  172
k8    22   18   27   30   13   63   54  ...   31   44   36   14   42   59  249
k9    53   49   57   59   22   58   85  ...    0   74   65   22   30   88  279
k10   23   26   17   15   53   82   15  ...   74    0    9   53   74   15  205
k11   16   18    8    6   44   73   23  ...   65    9    0   44   65   23  213
k12   33   29   36   38    1   51   64  ...   22   53   44    0   28   66  257
k13   59   54   58   59   29   28   88  ...   30   74   65   28    0   85  274
k14   38   41   31   28   66   88   20  ...   88   15   23   66   85    0  191
k15  227  231  222  219  257  268  196  ...  279  205  213  257  274  191    0

[16 rows x 16 columns]

In [0]:
def avgDistance(d,t):
    total=np.sum(d)
    n=len(t)
    edges=n*n-n
    s=total/(n*n-n)
    return s

In [0]:
avgDistance(d,t) # mean distance

69.50833333333334

In [0]:
# normalization
max_d=max(q)
min_d=min(q)
max_d

279.5943490129942

In [0]:
def normalize(df):
  df=(df-min_d)/(max_d-min_d)
  return df

In [0]:
normalize(df)

           k0        k1        k2  ...       k13       k14       k15
k0   0.000000  0.014306  0.035766  ...  0.211020  0.135911  0.811891
k1   0.014306  0.000000  0.039343  ...  0.193137  0.146641  0.826197
k2   0.035766  0.039343  0.000000  ...  0.207443  0.110875  0.794007
k3   0.046496  0.050073  0.007153  ...  0.211020  0.100145  0.783278
k4   0.118028  0.100145  0.128758  ...  0.103722  0.236056  0.919189
k5   0.264669  0.250363  0.246786  ...  0.100145  0.314742  0.958532
k6   0.114452  0.128758  0.107298  ...  0.314742  0.071532  0.701016
k7   0.282552  0.286129  0.246786  ...  0.379121  0.157371  0.615177
k8   0.078685  0.064379  0.096568  ...  0.150218  0.211020  0.890576
k9   0.189560  0.175254  0.203867  ...  0.107298  0.314742  0.997874
k10  0.082262  0.092992  0.060802  ...  0.264669  0.053649  0.733205
k11  0.057226  0.064379  0.028613  ...  0.232480  0.082262  0.761818
k12  0.118028  0.103722  0.128758  ...  0.100145  0.236056  0.919189
k13  0.211020  0.193137  0.207443  ...  0.000000  0.304012  0.979991
k14  0.135911  0.146641  0.110875  ...  0.304012  0.000000  0.683133
k15  0.811891  0.826197  0.794007  ...  0.979991  0.683133  0.000000

[16 rows x 16 columns]

In [0]:
list = ['k{}'.format(i) for i in range(16)]
c=[]
for i in list:
    for j in list:
        c.append('{} to {}'.format(i,j))
c # combination of distances

['k0 to k0',
 'k0 to k1',
 'k0 to k2',
 'k0 to k3',
 'k0 to k4',
 'k0 to k5',
 'k0 to k6',
 'k0 to k7',
 'k0 to k8',
 'k0 to k9',
 'k0 to k10',
 'k0 to k11',
 'k0 to k12',
 'k0 to k13',
 'k0 to k14',
 'k0 to k15',
 'k1 to k0',
 'k1 to k1',
 'k1 to k2',
 'k1 to k3',
 'k1 to k4',
 'k1 to k5',
 'k1 to k6',
 'k1 to k7',
 'k1 to k8',
 'k1 to k9',
 'k1 to k10',
 'k1 to k11',
 'k1 to k12',
 'k1 to k13',
 'k1 to k14',
 'k1 to k15',
 'k2 to k0',
 'k2 to k1',
 'k2 to k2',
 'k2 to k3',
 'k2 to k4',
 'k2 to k5',
 'k2 to k6',
 'k2 to k7',
 'k2 to k8',
 'k2 to k9',
 'k2 to k10',
 'k2 to k11',
 'k2 to k12',
 'k2 to k13',
 'k2 to k14',
 'k2 to k15',
 'k3 to k0',
 'k3 to k1',
 'k3 to k2',
 'k3 to k3',
 'k3 to k4',
 'k3 to k5',
 'k3 to k6',
 'k3 to k7',
 'k3 to k8',
 'k3 to k9',
 'k3 to k10',
 'k3 to k11',
 'k3 to k12',
 'k3 to k13',
 'k3 to k14',
 'k3 to k15',
 'k4 to k0',
 'k4 to k1',
 'k4 to k2',
 'k4 to k3',
 'k4 to k4',
 'k4 to k5',
 'k4 to k6',
 'k4 to k7',
 'k4 to k8',
 'k4 to k9',
 'k4 to k10',
 'k4 to k11',
 'k4 to k12',
 'k4 to k13',
 'k4 to k14',
 'k4 to k15',
 'k5 to k0',
 'k5 to k1',
 'k5 to k2',
 'k5 to k3',
 'k5 to k4',
 'k5 to k5',
 'k5 to k6',
 'k5 to k7',
 'k5 to k8',
 'k5 to k9',
 'k5 to k10',
 'k5 to k11',
 'k5 to k12',
 'k5 to k13',
 'k5 to k14',
 'k5 to k15',
 'k6 to k0',
 'k6 to k1',
 'k6 to k2',
 'k6 to k3',
 'k6 to k4',
 'k6 to k5',
 'k6 to k6',
 'k6 to k7',
 'k6 to k8',
 'k6 to k9',
 'k6 to k10',
 'k6 to k11',
 'k6 to k12',
 'k6 to k13',
 'k6 to k14',
 'k6 to k15',
 'k7 to k0',
 'k7 to k1',
 'k7 to k2',
 'k7 to k3',
 'k7 to k4',
 'k7 to k5',
 'k7 to k6',
 'k7 to k7',
 'k7 to k8',
 'k7 to k9',
 'k7 to k10',
 'k7 to k11',
 'k7 to k12',
 'k7 to k13',
 'k7 to k14',
 'k7 to k15',
 'k8 to k0',
 'k8 to k1',
 'k8 to k2',
 'k8 to k3',
 'k8 to k4',
 'k8 to k5',
 'k8 to k6',
 'k8 to k7',
 'k8 to k8',
 'k8 to k9',
 'k8 to k10',
 'k8 to k11',
 'k8 to k12',
 'k8 to k13',
 'k8 to k14',
 'k8 to k15',
 'k9 to k0',
 'k9 to k1',
 'k9 to k2',
 'k9 to k3',
 'k9 to k4',
 'k9 to k5',
 'k9 to k6',
 'k9 to k7',
 'k9 to k8',
 'k9 to k9',
 'k9 to k10',
 'k9 to k11',
 'k9 to k12',
 'k9 to k13',
 'k9 to k14',
 'k9 to k15',
 'k10 to k0',
 'k10 to k1',
 'k10 to k2',
 'k10 to k3',
 'k10 to k4',
 'k10 to k5',
 'k10 to k6',
 'k10 to k7',
 'k10 to k8',
 'k10 to k9',
 'k10 to k10',
 'k10 to k11',
 'k10 to k12',
 'k10 to k13',
 'k10 to k14',
 'k10 to k15',
 'k11 to k0',
 'k11 to k1',
 'k11 to k2',
 'k11 to k3',
 'k11 to k4',
 'k11 to k5',
 'k11 to k6',
 'k11 to k7',
 'k11 to k8',
 'k11 to k9',
 'k11 to k10',
 'k11 to k11',
 'k11 to k12',
 'k11 to k13',
 'k11 to k14',
 'k11 to k15',
 'k12 to k0',
 'k12 to k1',
 'k12 to k2',
 'k12 to k3',
 'k12 to k4',
 'k12 to k5',
 'k12 to k6',
 'k12 to k7',
 'k12 to k8',
 'k12 to k9',
 'k12 to k10',
 'k12 to k11',
 'k12 to k12',
 'k12 to k13',
 'k12 to k14',
 'k12 to k15',
 'k13 to k0',
 'k13 to k1',
 'k13 to k2',
 'k13 to k3',
 'k13 to k4',
 'k13 to k5',
 'k13 to k6',
 'k13 to k7',
 'k13 to k8',
 'k13 to k9',
 'k13 to k10',
 'k13 to k11',
 'k13 to k12',
 'k13 to k13',
 'k13 to k14',
 'k13 to k15',
 'k14 to k0',
 'k14 to k1',
 'k14 to k2',
 'k14 to k3',
 'k14 to k4',
 'k14 to k5',
 'k14 to k6',
 'k14 to k7',
 'k14 to k8',
 'k14 to k9',
 'k14 to k10',
 'k14 to k11',
 'k14 to k12',
 'k14 to k13',
 'k14 to k14',
 'k14 to k15',
 'k15 to k0',
 'k15 to k1',
 'k15 to k2',
 'k15 to k3',
 'k15 to k4',
 'k15 to k5',
 'k15 to k6',
 'k15 to k7',
 'k15 to k8',
 'k15 to k9',
 'k15 to k10',
 'k15 to k11',
 'k15 to k12',
 'k15 to k13',
 'k15 to k14',
 'k15 to k15']